/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

html *{
font-family: arial, 'Courier New';
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 50px;
  background: black;
}

nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav ul{
  width: 50%;
}

nav form{
  width: 20%;
}

nav form input{
  width: 100%;
}

.left, .right {
  width: 50%;
  height: 350px;
  border: 2px solid orange;
  float: left;
}

.left{
  padding: 200px 20px 0px 20px;
}

.right > section{
  width: 50%;
  height: 175px;
  float: left;
  border: 2px solid green;
  padding: 65px 20px;
}

.third{
  width: 33.3333%;
  height: 300px;
  padding: 120px 20px;
  float: left;
  border: 2px solid blue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
