/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  /******************************************
  /* LAYOUT
  /*******************************************/

body{
    background: rgb(236,215,218);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 410px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.display{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    height: 100px;
    width: 400px;
    border: 3px solid black;
    background:rgb(139, 52, 64);
    color: white;
    align-items: center;
    font-size: 60px;
}

.row{
    display: flex;
    border: 1px solid rgb(black);
    width: 400px;
    flex-wrap: wrap;
}

.border{
    display: flex;
    width: 25%;
    height: 100px;
    border: 2px solid black;
    background:rgb(235, 133, 147);
    color: white;
    align-items: center;
    justify-content: center;
}

.operator{
    background:rgb(241, 183, 107)
}

.bigger{
    width: 75%;
    background:rgb(189, 76, 91);
    color: white;
}

.bigg{
    width: 50%;
}

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

  h1, h2{
      text-align: center;
      margin: 30px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  h4{
    text-align: center;
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

  form{
      text-align: center;
      display: inline;
  }

  input{
      width: 30%;
      text-align: center;
  }

  label{
      font-size: 15px;
      display: inline-block

  }

  #values{
      text-align: center;
  }

  span{
      display: block;
      text-align: center;
      font-size: 20px;
      margin: 30px;
    }

    #operators{
        display: flex;
        justify-content: center;
    }
  
    button{
        height: 50px;
        width: 50px;
        border: 2px solid red;
        border-radius: 5px;
        margin: 0 10px;
        font-size: 30px;
        
        }

    #zero{
        border-radius: 0 0 0 20px;
    }

    #equal{
        border-radius: 0 0 20px 0;
    }

    #display{
        border-radius: 20px 20px 0 0;
    }