/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
*{
    font-family: Arial;
    text-align: center;
}
body {

}


/******************************************
/* LAYOUT
/*******************************************/

header{
    display: flex;
    justify-content: center;
    background: rgb(106,118,136);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav .logo{
    padding: 5px 3%;
    height: 40px;
    
}

.grit{
    height:350px;
    background:rgb(106,118,136);
    color: white;
    display: table-cell;
    vertical-align:middle;
    padding: 0 3%;
    
}

.why, .volunteer{
    display:flex;
    flex-direction: column;
    height: 300px;
    padding: 20px 3%;
}

.volunteer{
    width: 60%;
    margin: auto;
}

.volunteer span{
    border: 1px solid black;
    padding: 10px 50px;
}

.volunteer span a{
    text-decoration: none;
}

.visit{
    display: flex;

}

.visit > section{
    height: 400px;
    width: 50%;
    padding: 20px 3%;
    background: rgb(221,223,226);
}

footer{
    line-height: 3px;
}

.links img{
    margin-left: 30px;
}


.contacts, .links, .copyright{
    padding: 20px;
    height: 200px;
    width: 60%;
    background: black;
    color: white;
    border-bottom: 2px solid white;
    float: left;
}

.contacts{
    width: 40%;
}

.copyright{
    height: 80px;
    width: 100%;
    display: table-cell;
    color: white;
    vertical-align: middle;
}

.copyright img{
    width: 5%;
    float: right;
}

.contacts, .links, .contacts h5, .links h5, .contacts p{
    text-align: left;
    color: gray;
}

.links h5{
    padding-top: 10px;
    padding-left: 30px;
}


.links a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}

.contacts h5{
    color: white;
    line-height: 1px;
}

.contacts h5+h5+p{
    padding-top: 15px;
} 

.contacts h5+h5+p+p+p+p{
    color: white;
}

.upper{
    text-transform: uppercase;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.button{
    background: white;
    color: rgb(106,118,136);
    border-radius: 5px;
    height: 60%;
    width: 75px;
    font-size: 12px;
}

.grit img{
    height: 40px;
    /* border: 2px solid green; */
   
}

.grit > a{
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */

}

.volunteer a{
    color: black;
}

.links img{
    height: 30px;
}