/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

html *{
font-family: arial, 'Courier New';
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 50px;
  background: black;
}

nav{
  color: white;
  /* border: 5px solid red; */
  padding-top: 10px;
  text-align: center;
}

nav img{
  float: left;
  margin-left: 20px;
  /* margin-top: 3px; */
}

nav ul{
  /* border: 3px solid green; */
  width: 100%;
  margin-top: 0;
  display: inline;
}

nav li{
  display: inline-block;
  border-left: 2px solid white;
  width: 7%;
}

nav a{
  color: white;
  text-decoration: none;
  margin: 0 auto;
}

nav form{
  width: 20%;
  margin-left: 100px;
  display: inline;
}


/*
nav img{
  margin: 20px 0 0 10px;
  display: inline;
}

nav form input{
  width: 100%; */
/* } */

.left, .right {
  width: 50%;
  height: 350px;
  /* border: 2px solid orange; */
  float: left;
}

.left{
  padding: 200px 20px 0px 20px;
  background-image: url("images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: rgba(0,0,0,0.25);
  background-blend-mode: overlay;
}

.top > h2{
  border-left: 4px solid red;
  padding-left: 10px;
}

.left span, .third span{
  border-left: 3px solid red;
  padding-left: 10px;
}

#americans span{
  border-left: 3px solid green;
  padding-left: 10px;
}

#vaccinate span{
  border-left: 3px solid red;
  padding-left: 10px;
}

#online span{
  border-left: 3px solid blue;
  padding-left: 10px;
}

#folk span{
  border-left: 3px solid gray;
  padding-left: 10px;
}

#americans{
  background-image: url("images/2.jpg")
}

#vaccinate{
  background-image: url("images/3.jpg")
}

#online{
  background-image: url("images/4.jpg")
}

#folk{
  background-image: url("images/5.jpg")
}

.right > section{
  width: 50%;
  height: 175px;
  float: left;
  /* border: 2px solid green; */
  padding: 65px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.25);
  background-blend-mode: overlay;
  color: white;
}

.right h4{
  margin-top: 25px;
}

.third{
  width: 33.3333%;
  height: 400px;
  padding: 20px 20px;
  float: left;
  /* border: 2px solid blue; */
}

.third img{
  width: 100%;
}

#news{
  /* display: inline; */
  border-left: 4px solid red;
  padding-left: 10px;
  margin-top: 50px;
  float: left;
}

div{
  clear: both;
}

span{
  text-transform: uppercase;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media screen and (max-width: 600px){
  .left, .right{
    width: 100%;
  }

  #reel, #worklife, #travel, #future, #culture{
    display: none;
  }

  .third{
    width: 100%;
  }

  input{
    display: none;
  }
}